
# Files that shouldn't be tracked
DerekWeitzelThesis.aux
DerekWeitzelThesis.bbl
DerekWeitzelThesis.blg
DerekWeitzelThesis.log
DerekWeitzelThesis.pdf
DerekWeitzelThesis.toc
DerekWeitzelThesis.synctex.gz



